.chess-piece {
  font-weight: bold;
  font-size:1.5em;
  color:black;
}

.chess-square {
  display: table-cell;
  outline: solid 1px #D4AF37;
  width:2em;
  height:2em;
  text-align:center;
  vertical-align: middle;
  cursor: pointer;
  cursor: hand;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  transition: all .3s ease;
}

.red-square {
  background-color: white;
}

.black-square {
  background-color: gray;
}

.selected-square {
  background-color: orange;
}

.chess-rank {
  display: flex;
}

.chess-board {
  border: solid 3px black;
  outline: solid 3px #AAAAAA;
  transition: all .7s ease;
}

.centered {
  display: table;
  margin: 0 auto;
}

div.info-block {
  text-align: center;
}

div.check {
  outline: solid 3px red;
  transition: all .7s ease;
}

span.check {
  text-transform: uppercase;
}

.player {
  text-transform: capitalize;
}

div.new-game-wrapper {
  padding-top: 5%;
  padding-bottom: 5%;
}

button.new-game {
  border-radius: 2px;
  border: solid 3px #CCCCCC;
  background: #FFFFFF;
  transition: all .2s ease;
}

button.new-game:hover {
  background: #EEEEEE;
}

button.promote-button {
  border-radius: 4px;
  border: solid 3px #CCCCCC;
  background: #FFFFFF;
  transition: all .2s ease;
  font-size:1.7em;
}


button.promote-button:hover {
  background: #EEEEEE;
}