.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chess-piece {
  font-weight: bold;
  font-size:1.5em;
  color:black;
}

.chess-square {
  display: table-cell;
  outline: solid 1px #D4AF37;
  width:2em;
  height:2em;
  text-align:center;
  vertical-align: middle;
  cursor: pointer;
  cursor: hand;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.red-square {
  background-color: white;
}

.black-square {
  background-color: gray;
}

.selected-square {
  background-color: yellow;
}

.chess-rank {
  display: flex;
}

.chess-board {
  border: solid 3px black;
  outline: solid 3px #AAAAAA;
}

.centered {
  display: table;
  margin: 0 auto;
}